In [10]:
# 导入tushare
import tushare as ts
import pandas as pd

In [11]:
al = pd.read_csv(r"data\A_stock_list.csv", encoding="utf-8-sig")
al = al[["ts_code", "name"]]
al = al.rename(columns={"ts_code": "ts_code_A"})
al.columns

Index(['ts_code_A', 'name'], dtype='object')

In [12]:
hl = pd.read_csv(r"data\HK_stock_list.csv", encoding="utf-8-sig")
hl = hl[["ts_code", "name"]]
hl = hl.rename(columns={"ts_code": "ts_code_HK"})
hl.columns

Index(['ts_code_HK', 'name'], dtype='object')

In [13]:
ahl = pd.merge(al, hl, on=["name"], how="inner")
ahl

     ts_code_A  name ts_code_HK
0    000039.SZ  中集集团   02039.HK
1    000063.SZ  中兴通讯   00763.HK
2    000157.SZ  中联重科   01157.HK
3    000166.SZ  申万宏源   06806.HK
4    000333.SZ  美的集团   00300.HK
..         ...   ...        ...
103  688187.SH  时代电气   03898.HK
104  688236.SH  春立医疗   01858.HK
105  688331.SH  荣昌生物   09995.HK
106  688505.SH  复旦张江   01349.HK
107  688981.SH  中芯国际   00981.HK

[108 rows x 3 columns]

In [14]:
# save to csv
ahl.to_csv("data\AH_stock_list.csv", index=False, encoding="utf-8-sig")